.container {
    background-color: rgb(72, 202, 219) ;
    padding: 20px;
}
.center {
    text-align: center;
    color:rgb(221, 103, 103)
  }
  .link {
      background-color: floralwhite;
      margin: 10px;
      padding: 10px;
      border-radius: 5px;
  }