

<form class="example-form" #signupForm="ngForm" (ngSubmit)="signupForm.valid && onSubmit(signupForm)">
        <h1 class='center'> LogIn </h1>
        <div  >
              <img class="center-img" src="../../../assets/img/login.png" width="200px" height="200px"/>
        </div>
  
       
    <mat-form-field class="example-full-width">
        <input matInput placeholder="Email" #email = "ngModel" [(ngModel)]="model.email" name="email"
               [errorStateMatcher]="matcher" autocomplete="none" required [pattern] = "emailregx" >
               <mat-error *ngIf ="!email.valid && signupForm.submitted"> email is required</mat-error >
                <mat-error *ngIf ="email.errors.pattern && signupForm.submitted"> email is not valid</mat-error >
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Password" #password = "ngModel"  [(ngModel)]="model.password" name="password"
               [errorStateMatcher]="matcher" autocomplete="none" required  minlength="4">
               <mat-error *ngIf ="!password.valid && signupForm.submitted"> password is required</mat-error >
                <mat-error *ngIf ="!password.errors.minlength && signupForm.submitted"> password is less than 4 char</mat-error >
      </mat-form-field>
      <button mat-raised-button color="accent">Login</button>
      
      
  </form>

  <div class="alert" *ngIf="errorMessage">
        {{errorMessage}}
  </div>
